body{
    margin: 0px;
    padding: 0px;
    /* height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
}

.container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    padding: 10px;
    /* width: 400px; */
    height: 500px;
    border-radius: 4px;
    color: aliceblue;
    background-image: url("/src/assets/bac.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-family: system-ui;
}

.container img{
    width: 200px;
}
.container .search input{
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 2px;
    outline: none;
    background: #f0f8ff1f;
    color: aliceblue;
}
.container .search input::placeholder{
    color: yellow;
}

.container .search {
    margin: 30px;
}


.container .search button{
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 2px;
    outline: none;
 cursor: pointer;
    background-color:  #2dff2a;
}
.city-name h3{
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
    margin: 15px 0px;
}

.temp h1{
    font-size: 80px;
    margin: 10px 0px;
}